
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding:0;
   box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
}
header{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background: rgba(192, 166, 197, 0.51);
    border-radius: 40px;
    width: 80%;
    margin-bottom: 20px;

    backdrop-filter: blur(14px);
}
.img-header{
    width: 100px;
}
.main{
    background: url("https://i.ibb.co/yktZS4H/Qu-est-ce-que-le-Lorem-Ipsum-Le-Lorem-Ipsum-est-simplement-du-faux-texte-employ-dans-la-composition.png") no-repeat top right/cover;
    padding-top: 15px;
    width: 100%;
    height: 800px;
}
.section_header{

    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;

}
.section_header_img img {
    width: 100%;
    animation: salma 1s ease-in-out infinite;
}

@keyframes salma {
    0%{
        transform: translateY(-10px);
    }
50%{
    transform: translateY(10px);
}
    100% {
        transform: translateY(-10px);
    }
}
.section_header_img{
    width: 40%;
    padding: 70px;
}
.section_header_text{
    width: 50%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_header_text h2{
    font-family:"Poppins",sans-serif;
    font-size: 50px;
   font-weight: 800;
    margin-bottom:  20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.58);
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.47);

}
em{
    color: rgba(54, 28, 61, 0.75);

}
.navbar {
    padding: 5px 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;


}

.navbar a{
    font-family: "Poppins", sans-serif;
    color: #ad6abd;
    padding: 10px 10px;
    text-decoration: none;
    transition: .5s;
    margin: 0 4px;
}


.navbar a:hover,#a1{
    background-color: #d38ce3;
    color: #fff8f8;
    border-radius: 30px;
}
.text_form{
    font-family: "Concert One", sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    width: 350px;
    padding: 30px 0;
    margin: 0 auto;
}
.section_form_img{
    display: flex;
    justify-content: space-between;
}
.section_formulaire{
    width: 50%;
}
.section-img{
    width: 45%
}
.section-img img{
    width: 100%;
    padding: 50px;
}


form {
    width: 83%;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border: 1px solid #d38ce3;
}
form button{
    padding: 13px 20px;
    background: #ad6abd;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
}

label {
    display: block;
    margin-bottom: 10px;
}


input[type="text"],
input[type="number"],
input[type="email"]{
    width: 100%;
    padding: 15px 20px;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 2px solid #d38ce3;
    border-radius: 9px;
    box-sizing: border-box;
    outline: none;

}
input::placeholder{
    color: rgba(124, 102, 129, 0.75);
}


button:hover {
    background-color: rgba(124, 102, 129, 0.75);
}
.section_formulaire{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 60px;

}
.section_cards{
    background: url("https://i.ibb.co/zr3szCr/Qu-est-ce-que-le-Lorem-Ipsum-Le-Lorem-Ipsum-est-simplement-du-faux-texte-employ-dans-la-composition.png") no-repeat top right/cover;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.section_cards h2{
    font-family: "Concert One", sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    width: 200px;
    padding: 30px 0;
    margin: 0 auto;
}
.section_cards_student{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;


}
.section_cards_student-wrapper{
    width: 80%;
    height: 98%;
    display: flex;
    padding: 20px;
    align-items: center;

    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 59px;


}
.card{
    width: 27%;
    padding: 10px 0;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #a6a6a6;
    margin-bottom: 60px;
}
.card > .card-des > p{
    padding:5px 7px;
    color: #c092cb;
    font-size: 9px;
    border: 1px solid #c092cb ;
    border-radius: 5px;
    font-family: "Concert One", sans-serif;
    margin: 5px;
    margin-top: -40px;
    width: 80px;
    box-shadow: 2px 2px 10px #bebbbb;
}
.card > .card-des > span{
    padding:5px 7px;
    color: #c092cb;
    font-size: 9px;
    border: 1px solid #c092cb ;
    border-radius: 5px;
    font-family: "Concert One", sans-serif;
    margin: 5px;
    margin-top: -40px;
    width: 140px;
    box-shadow: 2px 2px 10px #bebbbb;
}
.card-img{
    width: 90%;
    height: 250px;
    border-radius: 15px;
    margin: 0 auto;
}
.card-img > img {
    margin-top: -50px;
    border-radius: 15px;
    height: 250px;
    box-shadow: 4px 3px 15px #8d8c8c;
}
.card-info{
    text-align: left;

}
.card-info .card-name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1px 20px;
    align-items: center;
}
.card-info .card-name h2{

    font-size: 20px;
    font-weight: 900;
    color: black;
    font-family: "Poppins", sans-serif;

}
.card-info .card-name .icon{
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
     height:100%;

}
.card-info .card-name .icon a{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .5s;
}
.card-info .card-name .icon a:hover{
    transform: scale(1.1);
}


.card-des{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.cd{
    padding-top: 5px;
    border: 2px solid #c092cb;
    background: #c092cb;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1px;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
}
.cd > h3 , h4{
    font-size: 12px;
    font-weight: 500;
    color: black;
    font-family: "Poppins", sans-serif;
}
.cd:hover{
    height: 50px;
    transition: 0.6s;
}
.showMore{
    padding: 12px 25px;
    border-radius: 4px;
    color: black;
    border: 2px solid #c092cb;
    margin: 0 auto;
    background: transparent;
    transition: .5s;
    cursor: pointer;
    font-weight: 800;
}
.showMore:hover{
    background: #f1dffd;
}
.More{
    margin-top: -50px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.modify{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: red;
    z-index: 999;
    display: none;

}