
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding:0;
   box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.section_header{
    background: url("https://i.ibb.co/yktZS4H/Qu-est-ce-que-le-Lorem-Ipsum-Le-Lorem-Ipsum-est-simplement-du-faux-texte-employ-dans-la-composition.png") no-repeat top right/cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
}
.section_header_img img{
    width: 100%;

}
.section_header_img{
    width: 40%;
    padding: 70px;
}
.section_header_text{

    width: 50%;
    display: flex;
 flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_header_text h1{
    font-family: "Concert One", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom:  20px;
    width: 70%;
    font-weight: bolder;
}
.section_header_text p{
    width: 80%;
    background-color: rgba(217, 217, 217, 0.3);
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;


}